.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  &_auth {
    flex-grow: 1;
  }
}

.form__field {
  margin-bottom: 8px;
}

.form__button {
  margin-top: auto;
}
