.link {
  font-size: 11px;
  line-height: 11px;
  color: $primary;
  text-decoration: none;

  &:hover {
    color: $primary-light;
  }

  &:active {
    color: $primary-dark;
  }

  &_negative {
    color: $negative;
  }
}
