.profile__img {
  margin: 60px auto 20px;
}

.profile__subtitle {
  margin-bottom: 60px;
}

.profile__button {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

.profile__table {
  margin-bottom: 60px;

  td {
    padding: 10px 10px 10px 0;
    font-size: 13px;
    line-height: 13px;
    font-weight: 500;
    border-bottom: 1px solid $gray-light;

    &:last-child {
      color: $gray;
      text-align: right;
    }
  }
}

.profile__links {
  display: flex;
  flex-direction: column;
  width: auto;
}

.profile__link {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 13px;
  line-height: 13px;
  border-bottom: 1px solid $gray-light;
}
