<div class="chat">
  <img class="chat__avatar" src="" alt="Аватар профиля">
  <h4 class="chat__title"></h4>
  <p class="chat__message message">
    <span class="message__prefix">Вы:</span>
    <span class="message__text"></span>
  </p>
  <p class="chat__time"></p>
  <div class="chat__counter"></div>
</div>
