@import "../../scss/variables";
@import "../../scss/mixins";

.chat {
  padding-top: 12px;
  padding-bottom: 12px;
  display: grid;
  grid-template-columns: 47px 1fr minmax(auto, 47px);
  border-bottom: 1px solid $gray-light;

  &:first-child {
    border-top: 1px solid $gray-light;
  }
}

.chat__avatar {
  @include avatar-circle(47);
  grid-column: 1 / 2;
}

.chat__message {
  margin-left: 10px;
  margin-right: 15px;
  grid-column: 2 / 3;
}

.chat__additional {
  grid-column: 3;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.chat__time {
  margin-bottom: 14px;
  display: block;
  font-size: 9px;
  line-height: 13px;
  color: $gray;
}

.chat__counter {
  font-size: 11px;
  line-height: 12px;
  display: grid;
  place-items: center;
  width: 20px;
  height: 20px;
  color: $white;
  background-color: $primary;
  border-radius: 50%;
}
