@import "src/scss/variables";
@import "src/scss/mixins";

.btn {
  padding-top: 12px;
  padding-bottom: 12px;
  display: block;
  font-size: 13px;
  line-height: 1;
  text-align: center;
  font-family: 'Inter', sans-serif;
  border: none;
  border-radius: $radius-default;
  cursor: pointer;
  transition: $transition-default;

  &_color_primary {
    @include btn-color($white, $primary, $primary-light, $primary-dark);
  }

  &_color_tertiary {
    @include btn-color($primary, transparent, $primary-light, $primary-dark);
  }

  &_type_icon {
    padding: 0;
    @include btn-color($gray-light, transparent, transparent, transparent, true)
  }

  &_type_round {
    padding: 0;
    width: 28px;
    height: 28px;
    border-radius: 50%;
  }
}
