@import "src/scss/variables";

.context-menu {
  padding: 5px;
  display: none;
  max-width: 300px;
  font-size: 13px;
  line-height: 1.5;
  border: 1px solid #ccc;
  border-radius: $radius-m;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  -o-user-select: none;
  background-color: #fff;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  z-index: 1000;
}

.context-menu_open {
  display: block;
}

.context-menu__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.context-menu__item {
  padding: 5px;
  display: flex;
  align-items: center;
  gap: 5px;
}
