@import "src/scss/variables";
@import "src/scss/mixins";

.profile {
  display: grid;
  grid-template-columns: 64px 1fr;
  min-height: 100vh;
}

.profile__sidebar {
  grid-column: 1;
}

.profile__content {
  padding-top: 60px;
  padding-bottom: 60px;
  display: grid;
  grid-template-rows: auto auto 1fr;
  grid-column: 2;
}

.profile__subtitle-wrapper {
  margin-bottom: 60px;
}

.profile__button {
  margin-top: 50px;
  min-width: 280px;
  margin-left: auto;
  margin-right: auto;
}

.profile__table {
  margin-bottom: 60px;

  td {
    padding: 10px 10px 10px 0;
    font-size: 13px;
    line-height: 13px;
    font-weight: 500;
    border-bottom: 1px solid $gray-400;

    &:last-child {
      color: $gray-500;
      text-align: right;
    }
  }
}

.profile__links {
  display: flex;
  flex-direction: column;
  width: auto;
}

.profile__link {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 13px;
  line-height: 13px;
  border-bottom: 1px solid $gray-400;
}

.profile__form .form__button {
  margin-bottom: 153px;
}
