---
bodyClass:
scripts:
- ../index.js
stylesheets:
- ../scss/main.scss
title: Чат
---
{{#extend "base"}}
    {{#content "main"}}
        <main class="chat">

        </main>
    {{/content}}
{{/extend}}
