---
bodyClass:
scripts:
- ../index.js
stylesheets:
- ../scss/main.scss
title: Профиль
userName: Иван
userGender: Мужской
fields: [
{
title: 'Почта',
text: 'abs@gmail.com',
name: 'email'
},
{
title: 'Логин',
text: 'kReal',
name: 'login'
},
{
title: 'Имя',
text: 'Кирилл',
name: 'first_name'
},
{
title: 'Фамилия',
text: 'Фомин',
name: 'second_name'
},
{
title: 'Имя в чате',
text: 'kReal',
name: 'display_name'
},
{
title: 'Телефон',
text: '7 (917) 234 54 23',
name: 'phone'
},
]
---
{{#extend "base"}}
    {{#content "main"}}
        <main>
            <div class="container">
            {{> img
                    imgClass="profile__img"
                    width="130"
                    height="130"
                    src="../static/images/userpic-male.svg"
            }}
            {{> subtitle class="profile__subtitle" text=userName }}
            {{> table class="profile__table" data=fields}}
                <div class="profile__links">
                    {{> link class="profile__link" href="./edit-profile.hbs" text="Изменить данные"}}
                    {{> link class="profile__link" href="./edit-profile-pass.hbs" text="Изменить пароль"}}
                    {{> link class="profile__link" href="./logout" text="Выйти" color="negative"}}
                </div>
            </div>
        </main>
    {{/content}}
{{/extend}}
