---
bodyClass: body_auth
scripts:
- ../index.js
stylesheets:
- ../scss/main.scss
title: Регистрация

fields: [
{
text: 'Почта',
type: 'email',
name: 'email'
},
{
text: 'Логин',
name: 'login'
},
{
text: 'Имя',
name: 'first_name'
},
{
text: 'Фамилия',
name: 'second_name'
},
{
text: 'Телефон',
type: 'tel',
name: 'phone'
},
{
text: 'Пароль',
type: 'password',
name: 'password'
},
{
text: 'Подтвердите пароль',
type: 'password',
name: 'second_password'
}
]
---
{{#extend "base"}}
    {{#content "main"}}
        <main class="login">
            <div class="container">
                <div class="login__paper paper paper_auth">
                    {{>subtitle class="paper__subtitle" text="Регистрация"}}
                    {{>form
                            fields=fields
                            formClass="paper__form"
                            buttonText="Зарегистрироваться"
                    }}
                    {{>link class="link paper__link" href="./login.hbs" text="Войти"}}
                </div>
            </div>
        </main>
    {{/content}}
{{/extend}}
