@import "src/scss/variables";

.sidebar {
  padding: 20px 15px 0 10px;
  display: flex;
  flex-direction: column;
  border-right: 1px solid $gray-400;
  overflow: auto;
}

.sidebar__header {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.sidebar__flex-wrapper {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.sidebar__link {
  font-size: 12px;
  line-height: 12px;
  color: $gray-500;
  text-decoration: none;

  &:hover {
    opacity: .85;
  }
}

.sidebar__input {
  margin-bottom: 14px;
}
