@font-face {
    font-family: "icons";
    src: url("./icons.ttf?fe02a4db26954fa755aeb9612d1bc073") format("truetype"),
url("./icons.woff?fe02a4db26954fa755aeb9612d1bc073") format("woff"),
url("./icons.woff2?fe02a4db26954fa755aeb9612d1bc073") format("woff2");
}

i[class^="icon-"]:before, i[class*=" icon-"]:before {
    font-family: icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-2check:before {
    content: "\f101";
}
.icon-arrow-right:before {
    content: "\f102";
}
.icon-avatar:before {
    content: "\f103";
}
.icon-chevron-forward:before {
    content: "\f104";
}
.icon-circle-cross:before {
    content: "\f105";
}
.icon-circle-plus:before {
    content: "\f106";
}
.icon-clip:before {
    content: "\f107";
}
.icon-loupe:before {
    content: "\f108";
}
.icon-menu:before {
    content: "\f109";
}
.icon-square-and-pencil:before {
    content: "\f10a";
}
.icon-trash:before {
    content: "\f10b";
}
.icon-xmark:before {
    content: "\f10c";
}
