@font-face {
    font-family: "icons";
    src: url("./icons.ttf?d04a2748d4b85a1b50f3064bb18f85b8") format("truetype"),
url("./icons.woff?d04a2748d4b85a1b50f3064bb18f85b8") format("woff"),
url("./icons.woff2?d04a2748d4b85a1b50f3064bb18f85b8") format("woff2");
}

i[class^="icon-"]:before, i[class*=" icon-"]:before {
    font-family: icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-2check:before {
    content: "\f101";
}
.icon-clip:before {
    content: "\f102";
}
.icon-loupe:before {
    content: "\f103";
}
.icon-menu:before {
    content: "\f104";
}
