@font-face {
    font-family: "icons";
    src: url("./icons.ttf?0e6eec7df6dc46cf27528f4cb2a06009") format("truetype"),
url("./icons.woff?0e6eec7df6dc46cf27528f4cb2a06009") format("woff"),
url("./icons.woff2?0e6eec7df6dc46cf27528f4cb2a06009") format("woff2");
}

i[class^="icon-"]:before, i[class*=" icon-"]:before {
    font-family: icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-2check:before {
    content: "\f101";
}
.icon-avatar:before {
    content: "\f102";
}
.icon-circle-cross:before {
    content: "\f103";
}
.icon-circle-plus:before {
    content: "\f104";
}
.icon-clip:before {
    content: "\f105";
}
.icon-loupe:before {
    content: "\f106";
}
.icon-menu:before {
    content: "\f107";
}
.icon-square-and-pencil:before {
    content: "\f108";
}
