<form class="form {{formClass}}" method="post">
    {{#each fields}}
        {{>field this fieldClass="form__field" }}
    {{/each}}
    {{#if hideSubmitButton}}

    {{else}}
        {{> button class="form__button"}}
    {{/if}}
</form>
