---
bodyclass: index
scripts:
- ./index.js
stylesheets:
- ./scss/main.scss
title: Index
---

{{#extend "base"}}
    {{#content "main"}}
        <main class="welcome">
            <div class="container">
                <h1>Добро пожаловать</h1>
                <p>Выберите страницу</p>
                <nav class="welcome__links">
                    <ul class="list">
                        <li>
                            {{> link text="Регистрация" href="./pages/sign-up.hbs"}}
                        </li>
                        <li>
                            {{> link text="Вход" href="./pages/login.hbs"}}
                        </li>
                        <li>
                            {{> link text="Профиль" href="pages/profile.hbs"}}
                        </li>
                        <li>
                            {{> link text="Изменить профиль" href="pages/edit-profile.hbs" }}
                        </li>
                        <li>
                            {{> link text="Изменить пароль" href="pages/edit-profile-pass.hbs" }}
                        </li>
                        <li>
                            {{> link text="Чат" href="pages/chat.hbs" }}
                        </li>
                        <li>
                            {{> link text="404" href="pages/404.hbs" }}
                        </li>
                        <li>
                            {{> link text="500" href="pages/500.hbs" }}
                        </li>
                    </ul>
                </nav>
            </div>
        </main>
    {{/content}}
{{/extend}}
