@import "src/scss/variables";

* {
  box-sizing: border-box;
}

body {
  font-family: 'Inter', 'Arial', sans-serif;
  font-weight: 500;
  font-size: 16px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

#app:has(main.login),
#app:has(main.page-error),
#app:has(main.sign-in) {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

#app:has(main.profile) {
  min-height: 100vh;
}
