* {
  box-sizing: border-box;
}

body {
  font-family: Inter, Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

#app:has(.login),
#app:has(.page-error),
#app:has(.sign-in) {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

#app:has(.profile) {
  min-height: 100vh;
}
