@import "variables";

i[class^="icon-"],
i[class*=" icon-"] {
  display: block;
  max-width: 22px;
  max-height: 22px;
  font-size: 22px;
}

.icon-clip {
  font-size: 2rem;
  color: $gray-500;
}

/* fantasticon некорректно собирает некоторые иконки, имеющие evenodd */
.icon-loupe {
  display: block;
  width: 20px;
  height: 20px;
  background-image: url("../static/icons/loupe.svg");
  background-repeat: no-repeat;
  background-position: center;

  &::before {
    display: none;
  }
}

.icon-square-and-pencil {
  display: block;
  width: 20px;
  height: 20px;
  background-image: url("../static/icons/square-and-pencil.svg");
  background-repeat: no-repeat;
  background-position: center;

  &::before {
    display: none;
  }
}

.icon.icon-xmark {
  font-size: 14px;
  color: #999999;
}

.icon.icon-chevron-forward {
  font-size: 12px;
  max-height: 12px;
}
