@mixin btn-color($color, $bg, $bg-hover, $bg-focus) {
  color: $color;
  background-color: $bg;

  &:hover {
    background-color: $bg-hover;
  }

  &:focus {
    background-color: $bg-focus;
  }
}

@mixin avatar-circle($size) {
  width: #{$size}px;
  height: #{$size}px;
  display: block;
  background-color: #efefef;
  border-radius: 50%;
}
