@mixin btn-color($color, $bg, $bg-hover, $bg-focus, $opacity: false) {
  color: $color;
  background-color: $bg;

  &:hover {
    background-color: $bg-hover;
    @if $opacity {
      opacity: 0.75;
    }
  }

  &:focus-within {
    background-color: $bg-focus;
    @if $opacity {
      opacity: 0.75;
    }
  }
}

@mixin avatar-circle($size) {
  width: #{$size}px;
  height: #{$size}px;
  background-color: #efefef;
  border-radius: 50%;
}
