/* Colors */
$primary-100: #e4edfd;
$primary-200: #5680f9;
$primary-300: #3369f3;
$primary-400: #0d4acc;
$gray-100: #f8f8f8;
$gray-200: #fbfbfb;
$gray-300: #efefef;
$gray-400: #eaeaea;
$gray-500: #999;
$gray-600: #525252;
$white: #fff;
$success: #00d68f;
$negative: #ff2f2f;
$main: #1e1e1e;

/* Border */
$radius-m: 8px;
$radius-l: 12px;

/* Field */
$form-field-min-height: 50px;

/* Animation */
$transition-default: all 0.25s ease;
