// Colors
$primary: #3369f3;
$primary-weak: #e4edfd;
$primary-light: #5680f9;
$primary-dark: #0d4acc;
$gray: #999999;
$gray-weak: #f8f8f8;
$gray-light: #eaeaea;
$gray-dark: #525252;
$white: #ffffff;
$negative: #ff2f2f;
$main: #1e1e1e;

// Border
$radius-default: 8px;

// Field
$form-filed-min-height: 50px;

// Animation
$transition-default: all .25s ease;
