@import "src/scss/variables";

.link {
  font-size: 11px;
  line-height: 11px;
  color: $primary-300;
  text-decoration: none;
  background-color: transparent;
  border: none;
  cursor: pointer;

  &:hover {
    color: $primary-200;
  }

  &:active {
    color: $primary-400;
  }

  &_negative {
    color: $negative;

    &:hover,
    &:focus,
    &:active {
      color: $negative;
      opacity: .85;
    }
  }

  &_success {
    color: $success;
  }
}
